<!DOCTYPE html>
<html>
<head>
  <title>RetentionfactoryEngine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <%= yield :stylesheet_includes %>
    <%= yield :javascript_includes %>
  
</head>
<body>

<%= yield %>

</body>
</html>
